GEMINI_API_KEYS=key1,key2
GROQ_API_KEYS=key1,key2
ADMIN_SECRET=change_this_to_a_random_string
RATE_LIMIT_PER_DAY=20
GITHUB_USERNAME=psychopunksage
ALLOWED_ORIGIN=https://psychopunksage.dev
UMAMI_SECRET=change_this_too
CONTEXT_ENCRYPTION_KEY=choose_a_strong_passphrase_here
